<IfModule mod_rewrite.c>    
    RewriteEngine On
    # RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_URI} ^/(images|build)/(.+)$
    RewriteRule ^/(images|build)/(.+)$ /$1/$2 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

